<nav class="navbar">
    <input type="checkbox" id="toggler">
    <label for="toggler"> <i class="fa-solid fa-bars" style="color: #ffffff;" (click)="globalService.toggleSidebar()"></i> </label>
    <h1 class="logo">GymCrowd</h1>
    <div class="menu">
        <ul class="list">
            <a href="homepage">Inicio</a>
            <a href="clients">Clientes</a>
            <a href="servicos">Serviços</a>
            <a href="#">Contratar</a>
        </ul>
    </div>
    <p-button label="Login" styleClass="p-button-outlined"></p-button>
</nav>