<nav>
    <div class="nav-bar">
        <i class='pi pi-bars sidebarOpen' ></i>
        <span class="logo"><a href="#">GymCrowd</a></span>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">GymCrowd</a></span>
                <i class='pi pi-times siderbarClose'></i>
            </div>
            <ul class="nav-links">
                <li><a href="homepage">Inicio</a></li>
                <li><a href="clients">Clientes</a></li>
                <li><a href="servicos">Serviços</a></li>
                <li><a href="contratar">Contratar</a></li>
            </ul>
        </div>
            <p-button *ngIf="!isLoggedIn()" label="Login" [outlined]="true" (click)="navigateToLogin()"></p-button>
            <div class="card flex justify-content-center" *ngIf="isLoggedIn()">

                <p-overlayPanel #op>
                    <ng-template pTemplate="content">

                        <p-button label="Perfil"  (click)="navigateToProfile()" [outlined]="true" icon="pi pi-user-edit" [style]="{color:'#FF6000'}"></p-button>
                        <p-button label="Sair" (onClick)="logout()" [outlined]="true" icon="pi pi-sign-out" [style]="{color:'#FF6000'}"></p-button>
                    </ng-template>
                </p-overlayPanel>

                <p-button (click)="op.toggle($event)" icon="pi pi-user" [outlined]="true"></p-button>
            </div>
    </div>
</nav>
    