<nav class="nav">
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox">
    <label for="nav-checkbox" class="toggle">
        <i class="pi pi-bars"></i>
        <i class="pi pi-times"></i>
    </label>
    <ul class="menu">
        <li>
            <h1 class="logo">GymCrowd</h1>
        </li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contratar</a></li>
        <li><p-button label="Login" styleClass="p-button-outlined"></p-button></li>
    </ul>
</nav>
