@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.titulo {
    display: flex;
    font-size: 2.5rem;
    color: #FF6000;
    padding-top: 20px;
    justify-content: center;
}

h4{
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.form-block {
    background-color: #FF6000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 345px;
}

.inputRow {
    display: flex;
}

.span-icon {
    display: flex;
    width: 50%;
}


.dropdownRow {
    display: flex;
    flex-direction: row;
}

.columnFlexContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    text-align: left;
}

:host ::ng-deep {
    .p-button {
       width: 70%;
       height: 55px;
       color: #FF6000;
       background: #ffffff;
       border: 1px solid white;
     }
     
     .p-button:hover{
        background: #FF6000 !important;
        border: 1px solid #ffffff !important;
        color:#ffffff !important;
    } 
    
    .p-dropdown {
        width: 95%;
        text-align: left;
    }    

    .p-input-icon-left > .p-inputtext {
        width: 95%;
        border-bottom: 2px solid black;
    }

}

@media (max-width: 895px) {
    .inputRow {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }


    .columnFlexContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .dropdownRow{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .p-dropdown {
        width: 100%;
    }   

    .card {
        height: auto;
    }



    }

    @media (max-width: 768px){
        .span-icon {
            display: flex;
            width: 100%;
            justify-content: center;
        }

    }

    @media (max-width: 425px){
        h4{
            font-size: 1.5rem;
        }

        .form-block {
            width: 95%;
        }
    }
