<p-toast position="top-center" key="tc"></p-toast>
<form [formGroup]="contratarForm" (ngSubmit)="sendContact()">
<div class="container">

    <h2 class="titulo">Contrate-nos</h2>
    <div class="form-block">

            <div class="card">

        <h4>Preencha as Credenciais</h4>

            <div class="inputRow">
            <span class="p-input-icon-left span-icon">
            <i class="pi pi-building"></i>
            <input pInputText id="nome_academia" formControlName="nome_academia" Placeholder="Nome da Academia" maxlength="100" />
            </span>

            <span class="p-input-icon-left span-icon">
            <p-inputMask id="cnpj_academia" mask="99.999.999/9999-99" formControlName="cnpj_academia" placeholder="CNPJ da Academia"></p-inputMask>
            </span>
            </div>
            <div class="inputRow">
            <span class="p-input-icon-left span-icon">
            <i class="pi pi-envelope"></i>
            <input pInputText id="email" formControlName="email" placeholder="Email" maxlength="100"/>
            </span>

            <span class="p-input-icon-left span-icon">
            <p-inputMask id="numero_telefone"  mask="(99)9999-9999" formControlName="numero_telefone" placeholder="Numero de Contato"></p-inputMask>
            </span>
            </div>

            <div class="dropdownRow">
                <div class="columnFlexContainer">
                    <p-dropdown [options]="FreqType" id="tipo_frequencia" formControlName="tipo_frequencia" optionLabel="name"></p-dropdown>
                </div>
                <div class="columnFlexContainer">
                    <p-dropdown [options]="QtdPick" id="quantidade_academias" formControlName="quantidade_academias" optionLabel="quantidade"></p-dropdown>
                </div>
            </div>

        <p-button label="Enviar" styleClass="p-button-rounded" type="ngSubmit" (click)="sendContact()"></p-button>


        </div>



        </div>

    </div>
</form>

