<div class="title">
<h2>Nossos Clientes</h2>
</div>

<div class="card-container">
    <div class="card">
        <h4 class="title-card">SmartFit</h4> 
        <div class="content">
            <div class="image">
                <img src="../../../assets/img/SmartFit.jpg" alt="academia">
            </div>
            <ul class="details">
                <li>2 Sedes na Cidade</li>
                <li>Ocupação Média de 30%</li>
                <li>Academia mais conhecida da cidade</li>
                <li>Mensalidade de 149,90</li>
            </ul>
        </div>
</div>

