<div class="container">
<div class="title">
<h2>Nossos Clientes</h2>
</div>
<div class="container2">
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/img/SmartFit.jpg" alt="gymphoto" />
      </div>
      <div class="card-body">
        <h3 class="title-card" style="color: #FF6000;">SmartFit</h3> 
        <h4>Quais as vantagens dessa academia?</h4>

        <ul class="details">
            <li>2 Sedes na Cidade</li>
            <li>Ocupação Média de 30%</li>
            <li>Academia mais conhecida da cidade</li>
            <li>Mensalidade de 149,90</li>
        </ul>
        
        <div class="bottom-card">
            <p-button label="Assinar" styleClass="p-button-rounded"></p-button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/img/SmartFit.jpg" alt="" />
      </div>
      <div class="card-body">
        <h3 class="title-card"  style="color: pink">SmartFit</h3> 
        <h4>Quais as vantagens dessa academia?</h4>

        <ul class="details">
            <li>2 Sedes na Cidade</li>
            <li>Ocupação Média de 30%</li>
            <li>Academia mais conhecida da cidade</li>
            <li>Mensalidade de 149,90</li>
        </ul>

        <div class="bottom-card">
            <p-button label="Assinar" styleClass="p-button-rounded"></p-button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/img/SmartFit.jpg" alt="" />
      </div>
      <div class="card-body">
        <h3 class="title-card" style="color: purple;">SmartFit</h3> 
        <h4>Quais as vantagens dessa academia?</h4>
        
        <ul class="details">
            <li>2 Sedes na Cidade</li>
            <li>Ocupação Média de 30%</li>
            <li>Academia mais conhecida da cidade</li>
            <li>Mensalidade de 149,90</li>
        </ul>
        
        <div class="bottom-card">
            <p-button label="Assinar" styleClass="p-button-rounded"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

