<div class="container">
  <div class="title">
  <h2>Nossos Clientes</h2>
  </div>
  <div class="container2">
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/SmartFit.jpg" alt="gymphoto" />
        </div>
        <div class="card-body">
          <h3 class="title-card" style="color: #FF6000;">SmartFit</h3> 
          <h4>Quais as vantagens dessa academia?</h4>
  
          <ul class="details">
              <li>Ocupação Média de 53%</li>
              <li>Academia mais conhecida da cidade</li>
              <li>Mensalidade de 139,90</li>
          </ul>
          
          <div class="bottom-card">
              <p-button label="Assinar" styleClass="p-button-rounded" (onClick)="redirectToSmartFit()"></p-button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/PinkFit.jpg" alt="" />
        </div>
        <div class="card-body">
          <h3 class="title-card"  style="color: pink">PinkFit</h3> 
          <h4>Quais as vantagens dessa academia?</h4>
  
          <ul class="details">
              <li>Ocupação Média de 20%</li>
              <li>Academia mais popular entre o publico feminino</li>
              <li>Mensalidade de 119,90</li>
          </ul>
  
          <div class="bottom-card">
              <p-button label="Assinar" styleClass="p-button-rounded" (onClick)="redirectToPinkFit()"></p-button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/RedFit.jpg" alt="" />
        </div>
        <div class="card-body">
          <h3 class="title-card"  style="color: red">RedFit</h3> 
          <h4>Quais as vantagens dessa academia?</h4>
  
          <ul class="details">
              <li>Ocupação Média de 28%</li>
              <li>Academia focada em PowerLifting</li>
              <li>Mensalidade de 159,90</li>
          </ul>
  
          <div class="bottom-card">
              <p-button label="Assinar" styleClass="p-button-rounded" (onClick)="redirectToRedFit()"></p-button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/PurpleFit.jpg" alt="" />
        </div>
        <div class="card-body">
          <h3 class="title-card" style="color: purple;">PurpleFit</h3> 
          <h4>Quais as vantagens dessa academia?</h4>
          
          <ul class="details">
              <li>Ocupação Média de 47%</li>
              <li>Academia focada em Alimentação</li>
              <li>Mensalidade de 129,90</li>
          </ul>
        
          <div class="bottom-card">
              <p-button label="Assinar" styleClass="p-button-rounded" (onClick)="redirectToPurpleFit()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  