@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import "primeicons/primeicons.css";
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.title {
    font-size: 3.0rem;
    color: #FF6000;
    padding-top: 20px;
}

h3{
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 20px;
}


.loginForm {
    background-color: #FF6000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

:host::ng-deep {

    .p-button {
        margin-top: 20px;
        background: #FF6000 !important;
        border: 1px solid #ffffff !important;
        color:#ffffff ;
        padding-left: 80px; 
        padding-right: 80px; 
    }

    .p-button:hover{
        background: #ffffff !important;
        border: 1px solid #FF6000 !important;
        color:#FF6000 !important;
    } 
}