<body>
    <section class="wrapper" #wrapper>
      <div class="form signup">
        <header class="signup" #signupHeader>Registrar</header>
        <form action="#">
          <input type="text" placeholder="Nome de Usuário" required />
          <input type="text" placeholder="Email" required />
          <input type="text" placeholder="CPF" required />
          <input type="password" placeholder="Senha" required />
          <input type="password" placeholder="Confirmar Senha" required />
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" />
            <label for="signupCheck">Aceitos os Termos e Condições</label>
          </div>
          <input type="submit" value="Registrar" />
        </form>
      </div>
      <div class="form login">
        <header class="login" #loginHeader>Entrar</header>
        <form action="#">
          <input type="text" placeholder="Usuário" required />
          <input type="password" placeholder="Senha" required />
          <div class="extras">
          <a href="forgotPass">Esqueceu a Senha?</a>
          <div class="remember">
          <input type="checkbox" id="signupCheck" />
          <label for="signupCheck">Lembrar Senha</label>
          </div>
        </div>
          <input type="submit" value="Login" />
        </form>
      </div>
    </section>
  </body>
