@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import "primeicons/primeicons.css";
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.title {
    font-size: 3.0rem;
    color: #FF6000;
    padding-top: 20px;
}

h3{
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 20px;
}

a {
    color: white;
}


.loginForm {
    display: flex;
    flex-direction: row;
    background-color: #FF6000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

.loginSpace {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputsLogin {
    margin-bottom: 1rem;
}

.inputsConfig {
    width: 53%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span-icon {
    display: flex;
    align-items: center;
}

img {
    max-width: 49%;
    max-height: 100%;
    height: 390;
    border-left: 1px solid white;
}

:host::ng-deep {

    .p-button {
        margin-top: 20px;
        margin-bottom: 10px;
        background: #FF6000 !important;
        border: 1px solid #ffffff !important;
        color:#ffffff ;
        padding-left: 150px; 
        padding-right: 150px; 
    }

    .p-button:hover{
        background: #ffffff !important;
        border: 1px solid #FF6000 !important;
        color:#FF6000 !important;
    } 

    .inputsLogin input {
        width: 360px;
    }
}