.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 100%;
  }
  
  .map-frame {
    border: 1px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  
  @media (max-width: 425px){

  .map-container {
    height: 345px;
    }

  
    }