<div class="container">
    <h2 class="titulo">Perfil</h2>
<div class="form-block">
    <div class="sidebar">
    <p-button label="Conta" styleClass="p-button-outlined"  icon="pi pi-user"></p-button>
    <p-button label="Configurações" styleClass="p-button-outlined"  icon="pi pi-cog"></p-button>
    <p-button label="Pagamentos" styleClass="p-button-outlined" (onClick)="navigatetoCards()"  icon="pi pi-credit-card"></p-button>
    </div>
    <div class="content">
        <div class="content-header">
            <img src="../../../assets/icons/perfil-de-usuario.png" alt="">
            <div class="header-infos">
            <h5>Nome: </h5>
            <h5>CPF: </h5>
            <h5>Email: </h5>
            </div>
        </div>
        <p-divider align="center">
            <b>Dados Academia</b>
        </p-divider>
        <div class="body-infos">
            <div class="body-infos-row">
                <div class="body-infos-colum">
            <h5>Academia Registrada:</h5>
            <input type="text" pInputText formControlName="text" readonly/>
            <h5>Assinatura Feita:</h5>
            <input type="text" pInputText formControlName="text" readonly/>
        </div>
            <div class="body-infos-colum">
            <h5>Forma de Pagamento:</h5>
            <input type="text" pInputText formControlName="text" readonly/>
            <h5>Frequência do Usuário:</h5>
            <input type="text" pInputText formControlName="text" readonly/>
        </div>
        </div>
        <p-button label="Editar Informações"></p-button>

        </div>
    </div>
</div>
</div>