<div class="container">
    <h2 class="titulo">Perfil</h2>
<div class="form-block">
    <div class="sidebar">
    <p-button label="Conta" [outlined]="true"  icon="pi pi-user"></p-button>
    <p-button label="Configurações" [outlined]="true" (onClick)="navigatetoConfig()"  icon="pi pi-cog" ></p-button>
    <p-button label="Pagamentos" [outlined]="true" (onClick)="navigatetoCards()"  icon="pi pi-credit-card"></p-button>
    </div>
    <div class="content">
        <div class="content-header">
            <img src="../../../assets/icons/perfil-de-usuario.png" alt="">
            <div class="header-infos">
            <h5>Nome: Wilian Dimitri</h5>
            <h5>CPF: 999.999.999-99 </h5>
            <h5>Email: wiliandimitri@hotmail.com </h5>
            </div>
        </div>
        <p-divider align="center">
            <b>Dados Academia</b>
        </p-divider>
        <div class="body-infos">
            <div class="body-infos-row">
                <div class="body-infos-colum">
            <h5>Academia Registrada:</h5>
            <input type="text" placeholder="Você não se registrou numa Academia!" pInputText formControlName="text" readonly/>
            <h5>Assinatura Feita:</h5>
            <input type="text" placeholder="Nenhuma Assinatura Feita!" pInputText formControlName="text" readonly/>
        </div>
            <div class="body-infos-colum">
            <h5>Forma de Pagamento:</h5>
            <input type="text" placeholder="Nenhuma Forma de pagamento Salva!" pInputText formControlName="text" readonly/>
            <h5>Frequência do Usuário:</h5>
            <input type="text" placeholder="Você ainda não foi malhar!" pInputText formControlName="text" readonly/>
        </div>
        </div>
        <p-button label="Editar Informações" (onClick)="showAcademiaDialog()"></p-button>

        </div>
    </div>
</div>
</div>

<p-dialog header="Editar Informações da Academia" [(visible)]="academiaDialogVisible" [modal]="true" [style]="{width: '50vw'}">
    <div class="contentDialogAcademia">

        
        <div class="contentDialogAcademiaOptions">
        <h4>Sua Academia:</h4>
        <p-dropdown [options]="registerAcademias" formControlName="academiaRegistada" optionValue="registerAcademiaName" optionLabel="registerAcademiaName" placeholder="Selecione..."></p-dropdown>
        </div>

        <div class="contentDialogAcademiaOptions">
        <h4>Sua Assinatura:</h4>
        <p-dropdown  [options]="assinaturaAcademias" formControlName="assinatura" optionValue="assinaturaAcademia" optionLabel="assinaturaAcademia" placeholder="Selecione..."></p-dropdown>
        </div>

        <div class="contentDialogAcademiaOptions">
        <h4>Forma de Pagamento:</h4>
        <p-dropdown  [options]="formadePagamentoAcademias" formControlName="formaPagamento" optionValue="formadePagamentoAcademia" optionLabel="formadePagamentoAcademia" placeholder="Selecione..."></p-dropdown>
    </div>
    </div>
</p-dialog>