<div class="container">
    <h2 class="titulo">Perfil</h2>
<div class="form-block">
    <div class="sidebar">
    <p-button label="Conta" [outlined]="true"  icon="pi pi-user"></p-button>
    <p-button label="Configurações" [outlined]="true" (onClick)="navigatetoConfig()"  icon="pi pi-cog" ></p-button>
    <p-button label="Pagamentos" [outlined]="true" (onClick)="navigatetoCards()"  icon="pi pi-credit-card"></p-button>
    </div>
    <div class="content">
        <div class="content-header">
            <img src="../../../assets/icons/perfil-de-usuario.png" alt="">
            <div class="header-infos">
            <h5>Nome:</h5>
            <h5>CPF: </h5>
            <h5>Email:</h5>
            </div>
        </div>
        <p-divider align="center">
            <b>Dados Academia</b>
        </p-divider>
        <div class="body-infos">
            <div class="body-infos-row">
                <div class="body-infos-colum">
            <h5>Academia Registrada:</h5>
            <input type="text" placeholder="Você não se registrou numa Academia!" pInputText readonly/>
            <h5>Assinatura Feita:</h5>
            <input type="text" placeholder="Nenhuma Assinatura Feita!" pInputText readonly/>
        </div>
            <div class="body-infos-colum">
            <h5>Forma de Pagamento:</h5>
            <input type="text" placeholder="Nenhuma Forma de pagamento Salva!" pInputText readonly/>
            <h5>Frequência do Usuário:</h5>
            <input type="text" placeholder="Você ainda não foi malhar!" pInputText readonly/>
        </div>
        </div>
        <p-button label="Adquirir CrowdPass" (onClick)="showCrowdPassDialog()"></p-button>
        <p-button label="Sincronizar Academia" (onClick)="showAcademiaDialog()"></p-button>

        </div>
    </div>
</div>
</div>

<p-dialog header="Assinar CrowdPass" [(visible)]="crowdPassDialogVisible" [modal]="true" [style]="{width: '50vw'}">
    <div class="contentDialogCrowdPass">

        <h4>Quer malhar onde quiser, escolhendo a dedo o local dentre todas as nossas academias?</h4>
        <h2>Assine o CrowdPass!</h2>
        <p-divider></p-divider>

        <div class="content-corpo">
            <div class="card-list">
                
                <div class="card" *ngFor="let item of cartaoData">
                    <div class="card-logo">
                      <p>{{ item.flag }}</p>
                      <p>{{ item.cardNumber }}</p>
                    </div>
              <p-radioButton></p-radioButton>

              </div>
              <div class="noCardMessage" *ngIf="!cartaoData.length">
                <h4>Você não tem cartãos adicionados</h4>
              </div>
            </div>
          </div>

        
    <p-button [outlined]="true" label="Assinar"></p-button>
    </div>
</p-dialog>


<p-dialog header="Sincronizar Academia" [(visible)]="academiaSincronizarDialogVisible" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="sincronizarForm" (ngSubmit)="sendSincronizar()">

    <div class="contentDialogAcademia">


        <h4>Sincronize sua conta com uma de nossas academias que você já seja cliente!</h4>
        <p-divider></p-divider>

        <div class="sincronizarAcademiaForm">

        <h4>Nome Registrado:</h4>
        <input type="text" placeholder="Seu nome no Sistema da Academia" formControlName="nomeRegistrado" pInputText/>
        <h4>Número de Cadastro:</h4>
        <input type="text" placeholder="Seu número de Cadastro na Academia" formControlName="numeroCadastrado" pInputText/>
        <h4>Academia:</h4>
        <p-dropdown [options]="registerAcademias" appendTo="body" formControlName="academiaSincronizar" optionValue="registerAcademiaName" optionLabel="registerAcademiaName" placeholder="Selecione..."></p-dropdown>
        </div>

    <p-button [outlined]="true" label="Sincronizar" (onClick)="sendSincronizar()"></p-button>

</div>

</form>

</p-dialog>