@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import "primeicons/primeicons.css";

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.titulo {
    display: flex;
    font-size: 2.5rem;
    color: #FF6000;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.form-block {
    display: flex;
    background-color: #FF6000;
    color: white;
    text-align: center;
    width: 80%;
    height: 625px;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

.sidebar {
    border: 2px solid white;
    border-bottom: none;
    border-top: none;
    border-left: none;
    width: 25%;
    height: 100%;
    border-radius: 10px;
}

.content {
    width: 100%;
}

.content-header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78%;
}

.card-list {
    display: flex;
    flex-direction: column;
    background: transparent;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  
  .visa-logo {
    padding: 10px;
    margin: 30px 0;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }
  
  .visa-logo img {
    width: 60px;
    height: 40px;
  }

    .visa-logo p {
    font-size: 22px;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #ffffff;
  }
  
  .visa-crinfo {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: #ffffff;
  }
:host ::ng-deep {
    .p-button{
        width: 100%;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        padding: 20px;
    }

    .p-button:hover {
        background: #fff !important;
        color: #FF6000 !important;
        border: 1px solid white  !important;
      }

      .content-header .p-button{
        background: white;
        color: #FF6000;
        margin-top: 10px;
    }

    .content-header .p-button:hover{
        background: #FF6000 !important;
        color: white !important;
        border: 1px solid white !important;
    }

      .p-divider .p-divider-content {
        background-color: #FF6000;
    }

    input {
        width: 100%;
    }
}

@media (max-width: 895px) {

    .form-block {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .sidebar {
        border: 2px solid white;
        border-right: none;
        border-left: none;
        border-top: none;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .content-corpo{
        height: 35%;
    }

    .card{
        height: 45%;
    }

    .visa-logo p {
        font-size: 20px;
      }

    :host ::ng-deep {

    .sidebar .p-button {
        border: none;
        height: 90%;
    }

}


}