<p-toast position="top-center" key="tc"></p-toast>
<div class="container">
    <h2 class="titulo">Cartões</h2>
<div class="form-block">
    <div class="sidebar">
    <p-button label="Conta" styleClass="p-button-outlined"  icon="pi pi-user" (onClick)="navigatetoProfile()"></p-button>
    <p-button label="Configurações" styleClass="p-button-outlined"  icon="pi pi-cog" (onClick)="navigatetoConfig()"></p-button>
    <p-button label="Pagamentos" styleClass="p-button-outlined"  icon="pi pi-credit-card"></p-button>
    </div>
    <div class="content">
        <div class="content-header">
            <p-button label="Adicionar Cartão" (onClick)="openCardDialog()" styleClass="p-button-outlined"  icon="pi pi-credit-card"></p-button>
        </div>
        <p-divider align="center">
            <b>Seus Cartões</b>
        </p-divider>
        <div class="content-corpo">
        <div class="card-list">
            <div class="card" *ngFor="let item of cartaoData">
                <div class="visa-logo">
                    <p>{{item.flag}}</p>
                    <!-- <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png" alt=""> -->
                    <p>{{item.cardNumber}}</p>
                </div>
                <div class="visa-crinfo">
                    <p>{{item.dueDate}}</p>
                    <p>{{item.nameHolder}}</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<p-dialog [(visible)]="visibleCardDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header" onsubmit="sendCartao()">
        <p>Adicionar Cartão de Credito</p>
      </ng-template>

      <ng-template pTemplate="content">

        <div class="cartaoCorpoForm">
            <div class="cartaoFormHeader">
                <img src="../../../assets/img/lasca.png" alt="">

                <p>Visa</p>
            </div>

                <div class="cartaoFormCenter">
                    <h2>{{ cartaoCreditoShow.cardNumber }}</h2>
                </div>

                <div class="cartaoFormBottom">
                    <div class="cartaoFormBottomNome">
                    <h4>NOME CARTAO</h4>
                    <h3>{{ cartaoCreditoShow.nameHolder }}</h3>
                </div>

                <div class="cartaoFormBottomData">
                    <h4>Validade</h4>
                    <h3>{{ cartaoCreditoShow.dueDate }}</h3>
                </div>
                </div>
        
        </div>

  
        <form [formGroup]="cartaoForm" (ngSubmit)="sendCartao()">
        <h3>Numero Cartao</h3>

        <p-inputMask type="text" mask="9999 9999 9999 9999"  formControlName="cardNumber" [(ngModel)]="cartaoCreditoShow.cardNumber"> </p-inputMask>

        <h3>Bandeira Cartao</h3>

        <input  type="text" l formControlName="flag" [(ngModel)]="cartaoCreditoShow.flag" pInputText />

        <h3>Nome de Usuario</h3>

        <input  type="text"  formControlName="nameHolder" [(ngModel)]="cartaoCreditoShow.nameHolder" pInputText />

        <h3>Data Vencimento</h3>
        
        <p-inputMask type="text" mask="99/99"  formControlName="dueDate" [(ngModel)]="cartaoCreditoShow.dueDate"></p-inputMask>

        <p-button label="Submit" (onClick)="sendCartao()"></p-button>
    </form>

      </ng-template>
</p-dialog>


</div>