@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.titulo {
  display: flex;
  font-size: 2.5rem;
  color: #ff6000;
  padding-top: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.form-block {
  display: flex;
  background: linear-gradient(to right, #ff6000, #ff8000);
  color: white;
  text-align: center;
  width: 80%;
  height: 625px;
  border-radius: 10px;
  flex-direction: row;
  box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

.sidebar {
  border: 2px solid white;
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: 25%;
  height: 100%;
  border-radius: 10px;
}

.content {
  width: 100%;
}

.content-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content-corpo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78%;
}

.card-list {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: 100%;
  width: 70%;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.noCardMessage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: white;
  color: #ff6000;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 8rem;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 20%;
  border: 2px solid rgb(0 0 0 / 29%);
  background: white;
  border-radius: 10px;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.card-logo {
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  text-align: left;
  p {
    font-size: 1rem;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #ff6000;
  }
}

.cartaoCorpoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 13rem;
  padding: 10px;
  background: linear-gradient(to right, #ff6000, #ff8000);
  border-radius: 20px;
  color: white;
}

.cartaoCorpoForm img {
  height: 3rem;
  width: 11%;
}

.cartaoFormHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartaoFormCenter {
  text-align: center;
}

.cartaoFormBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartaoFormBottomNome {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cartaoFormBottomNome h4 {
  font-size: 0.7rem;
}

.cartaoFormBottomData h4 {
  font-size: 0.9rem;
}

.formCorpoInputs {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.formCorpoInputs h3 {
  margin-top: 0.8rem;
}

.formCorpoInputsDown {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.formCorpoInputsDownInfo {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

:host ::ng-deep {
  .p-button {
    width: 100%;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding: 20px;
  }

  .p-button:hover {
    background: #fff !important;
    color: #ff6000 !important;
    border: 1px solid white !important;
  }

  .content-header .p-button {
    background: white;
    color: #ff6000;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-header .p-button:hover {
    background: #ff6000 !important;
    color: white !important;
    border: 1px solid white !important;
  }

  .p-divider .p-divider-content {
    background: linear-gradient(to right, #ff6000, #ff8000);
  }

  .p-dialog .p-dialog-header {
    display: flex;
    font-size: 1.5rem;
    border-bottom: solid 1px rgba(180, 180, 180, 0.397);
  }

  .p-dialog .p-dialog-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
  }

  .p-dialog .p-button {
    background: #ff6000 !important;
  }

  .p-dialog .p-button:hover {
    background: white !important;
    color: #ff6000;
    border: solid 1px #ff6000 !important;
  }

  .content-header .p-button {
    display: flex;
    gap: 1rem;
  }

  .p-dropdown {
    width: 100%;
  }

  .p-dialog-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  .p-dialog p {
    font-size: 1.5rem;
  }

  .p-dialog i {
    font-size: 1.5rem;
  }

  .card .p-button {
    border: 1px solid #ff6000;
    color: #ff6000;
  }

  input {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1144px) {
  .cartaoCorpoForm{
    width: 75%;
  }

  :host ::ng-deep {
    .p-dialog {
      width: 70% !important;
    }
  }

}
@media (max-width: 960px) {
  .form-block {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .sidebar {
    border: 2px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-corpo {
    height: 35%;
  }

  .card {
    height: 45%;
  }

  .card-list {
    width: 70%;
  }

  .visa-logo p {
    font-size: 20px;
  }

  :host ::ng-deep {
    .sidebar .p-button {
      border: none;
      height: 90%;
      margin-top: 3px;
    }
  }
}

@media (max-width: 768px) {
  .cartaoCorpoForm {
    width: 90%;
  }
}

@media (max-width: 650px) {
  :host ::ng-deep {
    .p-dialog {
      width: 90% !important;
    }
  }

}
@media (max-width: 550px) {
  .form-block {
    width: 100%;
  }

  .content-header {
    margin-top: 10px;
  }

  .content-corpo {
    height: 29%;
  }

  .card {
    height: 58%;
  }

  :host ::ng-deep {
    .body-infos .p-button {
      width: 40%;
      height: 55px;
    }
    .p-dialog {
      width: 80% !important;
  }
  }


}

@media (max-width: 425px) {
  .content-corpo {
    height: 26%;
  }

  .card-list {
    width: 100%;
  }

  :host ::ng-deep {
    .sidebar .p-button-label {
      display: none;
    }
    .sidebar .p-button .p-button-icon-left {
      margin: 0px;
    }

    .p-dialog {
      width: 100% !important;
      font-size: 0.8rem;
  }
  }
}

@media (max-width: 375px) {
  .content-corpo {
    height: 25%;
  }

  .visa-logo {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .visa-crinfo {
    padding: 0px;
    margin-bottom: 10px;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
