<main>
  <section class="map-area">


<div id="map"> <app-map></app-map> </div>
    
  </section>

  <div class="viewList">
    <p-button label="Criar Assinatura agora!" (onClick)="navigateToLogin()" [outlined]="true"></p-button>
    <div class="listHeader">
      <h4>Academias</h4>
    </div>
    <div class="listItens" >
      <div class="listaCorpoInfo" *ngFor="let item of academiaListData">
      <div class="listHeader2">
      <h5>l</h5>
      <h6>{{item.nomeAcademia}}</h6>
      <p-button icon="pi pi-info" (onClick)="showGraphAcad()" [rounded]="true" [outlined]="true"></p-button>
      </div>
      <div class="listCorpo" >
      <div class="enderecos">
        <p *ngFor="let endereco of  item.enderecoSedes">  {{ endereco.rua }}      {{ endereco.numero }} </p>
      </div>
      <div class="crowdNumber">
      <img src="../../../assets/icons/crowd2.png" alt="crowd">
      <p>{{ item.lotacaoMedia }}%</p>
    </div>
    </div>
  </div>
  </div>
  <div class="listItens" *ngIf="!academiaListData">
    <p class="empty-list">Lista Vazia <br> Tente Novamente mais tarde!</p>
  </div>

  </div>
</main>

<p-dialog header="Header" [(visible)]="visibleGraphAcad" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-0">
    <div class="card">
      <p-chart type="bar" [data]="data" [options]="options"></p-chart>
  </div>
</p-dialog>

