* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.map-area {
  width: 70%;
  height: 540px;
  background: gray;
  border-radius: 10px;
  margin-right: 10px;
}

.viewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68%;
  width: 25%;
  overflow-y: auto;
}

.listHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #FF6000, #FF8000);
  border-radius: 10px 10px 0 0;
  padding: 30px;
  color: white;
}

.listHeader h4 {
  margin: 0;
  font-size: 1.9em;
}

.listItens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.listHeader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #FF6000;
  color: #FF6000;
  padding: 5px;
}

.listHeader2 h6 {
  margin: 0;
  font-size: 1.5em;
}

.listCorpo {
  background-color: white;
  color: #FF6000;
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.listCorpo p {
  margin: 0;
  font-size: 1.2em;
}

.enderecos {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.enderecos p {
  padding: 5px;
}

.crowdNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.crowdNumber img {
height: 40px;
width: 40px;
}

.crowdNumber p {
  font-size: 1.4em;
  padding-left: 9px;
}




