<main>
      <section class="map-area">

        <div id="map">MAPA</div>
        
      </section>

      <div class="viewList">
        <div class="listHeader">
          <h4>Academias</h4>
        </div>
        <div class="listItens">
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
          <div class="listHeader2">
          <h6>SmartFit</h6>
          </div>
          <div class="listCorpo">
          <div class="enderecos">
          <p>Joaquim Nabuco 239</p>
          <p>Costa Barros 658</p>
          </div>
          <div class="crowdNumber">
          <img src="../../../assets/icons/crowd2.png" alt="crowd">
          <p>29%</p>
        </div>
        </div>
        </div>
      </div>
</main>
