@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.title {
    font-size: 3.0rem;
    color: #FF6000;
    padding-top: 20px;
}

img {
    max-width: 100%; 
    height: auto; 
  }

.infos {
    background-color: #FF6000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #fff;
}

.infos h5 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.1em;
}

:host::ng-deep {

    .p-button {
        margin-top: 20px;
        background: #ffffff !important;
        border: 1px solid #ffffff !important;
        color:#FF6000 ;
        padding-left: 80px; 
        padding-right: 80px; 
    }

    .p-button:hover{
        background: #FF6000 !important;
        border: 1px solid #ffffff !important;
        color:#ffffff !important;
    } 

    @media screen and (max-width: 995px) {
        .title {
            font-size: 2.2rem;
        }

    }

    
}

@media (max-width: 425px){

    :host::ng-deep {

        .p-button {
            padding-left: 0; 
            padding-right: 0;
            width: 75%; 
        }
    }

}