<div class="container">
    <h2 class="title">GymCrowd</h2>
    <img src="../../../assets/icons/academia.png" alt="weight">
    <div class="infos">
        <h5>Tenho certeza que já teve um dia que você foi malhar e simplesmente perdeu todo ânimo quando viu a academia lotada e 3 pessoas revezando o mesmo equipamento, é chato, não é verdade?
            Mas não se preocupe, o GymCrowd veio aqui para resolver seu problema.
            <br>
            <br>
            Nós utilizamos a checagem de entrada da academia cliente e usamos os dados recebidos para poder te fornecer em tempo real uma taxa de ocupação da academia. 
            <br>
            <br>
            Além disso, nós também conseguimos fazer previsões de lotação para momentos futuros e feriados. 
            <br>
            <br>
            Dono de Academia ou Cliente, o GymCrowd não te deixa na mão.</h5>
        <p-button label="Contrate-nos" styleClass="p-button-info" (onClick)="navigateToContratar()"></p-button>
    </div>
</div>