<div class="container">
    <h2 class="titulo">Perfil</h2>
<div class="form-block">
    <div class="sidebar">
    <p-button label="Conta" [outlined]="true"  icon="pi pi-user" (onClick)="navigatetoProfile()"></p-button>
    <p-button label="Configurações" [outlined]="true"  icon="pi pi-cog"></p-button>
    <p-button label="Pagamentos" [outlined]="true" (onClick)="navigatetoCards()"  icon="pi pi-credit-card"></p-button>
    </div>
    <div class="content">
        <p-divider align="center">
            <b>Configurações</b>
        </p-divider>
        <div class="body-infos">
            <div class="body-info-row">
                <h4>Rastrear Atividade?</h4>
                <div class="card flex justify-content-center">
                    <p-dropdown [options]="Monitore" optionLabel="name"></p-dropdown>
                </div>

            </div>

            <div class="body-info-row">

                    <h4>Excluir Conta?</h4>
                    <p-button label="Excluir"></p-button>
            </div>
        </div>
    </div>
</div>
</div>